{:name "blueshift"
 :artifacts [{:type :lib
              :name "blues_http"
              :root "lib/http.zig"}
             {:type :exe
              :name "blues"
              :entry "lib/cli.wattle"
              :libs ["blues_http"]}]}
